/* Class Selector */
.title {
    text-align: center;
    font-family: signPainter;
    font-size: 10em;
    -webkit-background-clip: text;
    text-shadow: 5px 5px 2px black;
    background:#DB7093
}
/* ID Selector */
#recipeList {
    background-color: #DB7093;
    color: white;
}
/* Type Selector */
p {
    background-color: #DB7093;
    color: white;
}
img {
    height: 350 px;
    width: 350px;
}
div > a {
    background-color: #DB7093
    ;
    color: white;
    font-weight: 200;
    font-size: 16px;
}
a {
    color: white;
    margin-left: 20%;
}
/* Chained Selector */
h1,
h2 {
    background-color: #FFC0CB;
    color: white;
}
/* At least two classes with shared rules, grouped together */
/* Using mulit class selectors, have both of these in addition to their
own style */
.container
.text-center {
    padding: 0;
}
.card-title {
    border: 1px solid black;
}
/* Descendant combinator */
ul li {
    list-style: circle;
}